<div class="grid-container">
  <mat-toolbar color="primary" class="header">
    <button mat-icon-button class="icon" [routerLink]="''">
      <mat-icon>home</mat-icon>
    </button>
    <button mat-icon-button class="icon" [routerLink]="'admin'">
      <mat-icon>dashboard</mat-icon>
    </button>
    <span class="spacer"></span>
    <span>BlackLog</span>
    <span class="spacer"></span>
    <button mat-icon-button class="icon" [routerLink]="'admin/auth'">
      <mat-icon>login</mat-icon>
    </button>
  </mat-toolbar>
  <app-admin-footer-block class="footer"></app-admin-footer-block>
</div>
